# Todo o repositorio exige revisao do responsavel padrao.
*                       @Henrique-GG

# Areas de Operacoes/Infraestrutura.
/.github/               @Henrique-GG
/docker-compose.yml     @Henrique-GG
